.DS_Store
.settings
build
bin
target
*.iml
*.iws
*.ipr
.classpath
.project
repo@conjars.org
.lein-failures

## Intellij + Maven ##
.classpath
.project
.settings/
.idea/
*.iml
*.iws
.DS_Store
log/
target/
logs/
build/